@font-face {
	font-family: 'BebasNeue';
	src: url('./BebasNeue.eot');
	src: local('BebasNeue'), url('./BebasNeue.woff') format('woff'), url('./BebasNeue.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_3413">Text with this font applied</p> */
.fontsforweb_fontid_3413 {
	font-family: 'BebasNeue' !important;
}

/* Font downloaded from FontsForWeb.com */